$assetDir: "../../assets/";

$fontColor: #404040;
$linkColor: #4554ca;
$linkHoverColor: #8c94d8;

$alertColor: #eee45b;
$successColor: rgb(72, 196, 55);
$failColor: rgb(211, 54, 54);

$borderColor: #DDD;
 
$site-width: 900px;