.desktop{
    display: block!important;
}

.mobile{
    display: none!important;
}

.content-area{
    padding: 10px;
}

.splash{
    //Uncomment if splash needs text on it.
    //@include floatingSplash

    img{
        width: 100%;
        height: auto;
        display: block;
    }

    //.text params are in ../prefab/style-prefabs
}

.button{
    @include buttonHover;
}

.widget-area{
    padding: 10px;
}