.desktop{
    display: block!important;
}

.mobile{
    display: none!important;
}

.content-area{
    padding: 10px;
}

.splash{
    img{
        width: 100%;
        height: auto;
        display: block;
    }
}

.widget-area{
    padding: 10px;
}